:root { 

    // Primary colors
    --color-primary-dark-blue: hsl(233, 26%, 24%);
    --color-primary-lime-green: hsl(136, 65%, 51%);
    --color-primary-bright-cyan: hsl(192, 70%, 51%);

    // Neutral colors
    --color-neutral-gray-blue:hsl(233, 8%, 62%) ;
    --color-neutral-light-gray-blue:hsl(220, 16%, 96%) ;
    --color-neutral-very-light-gray: hsl(0, 0%, 98%);
    --color-neutral-white:hsl(0, 0%, 100%) ;

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1 rem = 10px, 10px / 16 (browser default) = 62.5%
}

body { 
    height: 100vh; 
    font-family: 'Roboto', sans-serif;
}


// BASE TYPOGRAPHY SETUP
p {
    font-size: 1.5rem;
    color: var(--color-neutral-gray-blue);
    text-align: center;

    @media only screen and (min-width: 530px){
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 1200px){
        text-align: left;
    }
}

h2 {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    padding: 0rem 1rem 0rem 1rem;

    @media only screen and (min-width: 530px){
        font-size: 4rem;
    }

    @media only screen and (min-width: 1200px){
        text-align: left;
    }
}

h3 {

    font-size: 1.6rem;
    font-weight: 300;

    @media only screen and (min-width: 530px){
        font-size: 3em;
    }

    @media only screen and (min-width: 1200px){
        text-align: left;
    }
}